{% extends 'base.html.twig' %}

{% block title %}This is a Title{% endblock %}

{% block body %}
    <table>
    <tr>

        <td>Tytuł</td>
        <td>Wykonawca</td>
        <td>BPM</td>
        <td>Akordy</td>
        <td>Tekst</td>
     </tr>

    {% for song in songs%}
        <tr>

            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
            <td>{{song.bpm}}</td>
            <td>{{song.chords}}</td>
            <td>{{song.body}}</td>
            <td>
                <a href="/song/{{song.id}}">Show</a>
            </td>
        </tr>

    {% endfor %}
    </table>
{% endblock %}
